.container {
	max-width: 1200px;
	margin: auto;
	padding: 2rem 1rem;
}

.nav {
	max-width: 1200px;
	margin: auto;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	& img {
		width: 100%;
		display: flex;
	}
	&__logo {
		max-width: 100px;
		& img {
			height: 40px;
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 3rem;

		& li {
			position: relative;
			padding-bottom: 0.75rem;
			color: var(--primary);
			transition: all 0.5s ease-out;
			font-size: 17px;
			& a:hover {
				transition: all 0.5s ease-out;
				font-size: 18px;
			}
		}
	}
}

.link {
	padding: 0.5rem 1rem;
	font-size: 14px;
	color: var(--light);
	background-color: var(--primary);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3 ease;

	& :hover {
		background-color: var(--light);
		color: #000;
	}
}
