.plus {
	background: var(--aqua-dark);
	transition: all 0.3s ease;
	padding: 2px 15px;
	color: var(--aqua-blue);
	font-size: 24px;
	border-radius: 8px;

	&:hover {
		background: var(--aqua-blue);
		color: var(--light);
	}
}
