.container {
	position: relative;
}

.search_icon {
	position: absolute;
	left: 5%;
	top: 2px;
}

.search {
	width: 270px;
	background: #2e37a40d;
	border: 0;
	border-radius: 12px;
	height: 40px;
	padding: 10px 15px 10px 40px;
}
