.appointment {
	display: flex;
	align-items: center;
	justify-content: center;
	&__form {
		min-width: 330px;
		background-color: #fff;
		border-radius: 40px;
		box-shadow: 0 10px 60px 0 rgba(31, 34, 120, 0.1);
		margin-left: 50px;
		padding: 40px 35px;
		position: relative;
		text-align: center;
	}

	&__images {
		margin-left: 0;
		position: relative;
		width: 750px;
	}
}

.error {
	color: var(--danger);
	margin-bottom: 12px;
	margin-top: -12px;
	text-align: justify;
}

.select {
	display: block;
	position: relative;
	margin-bottom: 20px;
	padding: 5px 15px;
	border-radius: 10px;
	border: 2px solid rgba(46, 55, 164, 0.1019607843);
}
