.hero {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 64px 0;
	opacity: 0;
	transform: translateY(50px);
	animation: fadeSlideIn 1.5s forwards;

	@media screen and (max-width: 768px) {
		margin: 32px 0;
	}
	.hero__left {
		flex: 0 0 auto;
		width: 54.333333%;
		@media screen and (max-width: 768px) {
			width: -webkit-fill-available;
		}
		& div {
			color: #4d4b4b;
			font-family: Rubik, sans-serif;
			font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
			font-weight: 700;
			letter-spacing: 0.7px;
			margin-bottom: 16px;
		}

		& h1 {
			color: #000;
			font-family: Poppins, sans-serif;
			font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
			font-weight: 700;
		}
		& p {
			color: #4d4b4b;
			letter-spacing: 0.7px;
			line-height: 1.6rem;
			margin: 16px 0;
		}
		& a {
			display: flex;
			justify-content: center;
			gap: 20px;
			width: min-content;
			border: 1px solid #0000;
			border-radius: 28px;
			color: #fff;
			cursor: pointer;
			letter-spacing: 0.8px;
			outline: #0000;
			padding: 14px 20px;
			transition: all 0.4s ease;
			background-color: var(--primary);
			margin-bottom: 40px;
			&:hover {
				background-color: var(--light-primary);
			}
		}
	}

	&__img {
		width: 50%;
		max-width: 400px;
		margin: auto;
		& img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

@keyframes fadeSlideIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
